{% extends 'index.html' %}
{% block content %}
<div class="icon-container">
<a href="/create">
    <img class="img1" src="../static/img/plus.png" alt="Создать">
</a>
<a href="/logout">
    <img class="img1" src="../static/img/exit.png" alt="Выход">
</a>
</div>
<h1>Дневник программиста</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
<div class="notes-grid">
{% for comment in n %}
    <a href="/card/{{comment.id}}">
    <div class="note-tile" tabindex="0" aria-label="Дневник: {{ comment.title }}">
        <div class="note-title">{{ comment.title }}</div>
        <div class="note-subtitle">{{ comment.subtitle }}</div>
    </div>
    </a>
{% endfor %}
</div>
{% endblock %}
