{% extends 'index.html' %}
{% block content %}
<a href="/" class="icon-container">
    <img class="img1" src="../static/img/home.png" alt="Домашняя страница">
</a>
<div class="form-container">
    <form action="/register" method="post">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login"><br>
        <label for="email">Почта</label>
        <input type="text" id="email" name="email"><br>
        <label for="word">Пароль</label>
        <input type="password" id="word" name="word"><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
