body {
    text-align: center;
    background-color: yellow;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: red;
}
h2 {
    color: red;
}
h3 {
    color: red;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 125%;
}
img {
width: 900px;
height: 600px;
}
/*.red-text {
    color: red;
    background-color: black;
}*/
